.main_header {
    color: #d6d4cb;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}

.sub_header {
    color: #d6d4cb;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

#myDiscord, #myTelegram, #myKwork, #myGitHub, #myEmail {
    transition: transform 0.3s ease;
    color: #d6d4cb;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

.main_paragraph {
    color: #d6d4cb;
    text-align: center;
    font-family: "Headland One", serif;
}

#map {
    height: 500px;
    width: 30%;
    margin: 20px 0;
    margin-left: 35%;
}
